<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p></p>
        <h2>
            <i class="icon-cut" style="position: relative; top: 5px;left: 9px;"></i> urler
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 bhoechie-tab-container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
            <div class="list-group">
                <a href class="list-group-item active text-center" ng-class="{'active': activeTab == 'single'}" ng-click="activeTab = 'single'">
                    <h4 class="icon-scissors"></h4><small>Single</small>
                </a>
                <a href class="list-group-item text-center" ng-class="{'active': activeTab == 'multi'}" ng-click="activeTab = 'multi'">
                    <h4 class="icon-sharped-list"></h4><small>Multiple</small>
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
            <!-- flight section -->
            <div class="bhoechie-tab-content active" ng-class="{'active': activeTab == 'single'}">
                <p></p>
                <div class="row" ng-controller="ShortenCtrl">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form role="form" name="shortenLinkForm">
                            <div class="form-group" ng-class="{'has-error': shortenLinkForm.shortLinkInput.$dirty && shortenLinkForm.shortLinkInput.$invalid }">
                                <label for="shortLinkInput">Shorten another URL:</label>
                                <div class="input-group">
                                    <input type="url" class="form-control" ng-model="message" name="shortLinkInput" required id="shortLinkInput" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" ng-class="{'disabled': shortenLinkForm.$invalid }" ng-click="submit(shortenLinkForm.$invalid)">Shrink It</button>
                                    </span>
                                </div>
                                <div ng-show="(shortenLinkForm.shortLinkInput.$error.required || shortenLinkForm.shortLinkInput.$error.url) && shortenLinkForm.shortLinkInput.$dirty" class="error">Please fill up this field with valid url</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="bhoechie-tab-content" ng-class="{'active': activeTab == 'multi'}">
                <p></p>
                <div class="row" ng-controller="ShortenCtrl">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form role="form" name="shortenLinksForm">
                            <div class="form-group" ng-class="{'has-error': shortenLinksForm.shortLinks.$dirty && shortenLinksForm.shortLinks.$invalid }">
                                <label for="shortLinks">Shorten few URLs:</label>
                                <textarea class="form-control" ng-model="message" rows="4" name="shortLinks" required id="shortLinks"></textarea>
                                <div ng-show="shortenLinkForm.shortLinks.$error.required && shortenLinkForm.shortLinks.$dirty" class="error">Please fill up this field with valid url</div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-class="{'disabled': shortenLinksForm.shortLinks.$invalid }" ng-click="submit(shortenLinksForm.$invalid)">Shrink It</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="bhoechie-tab-content" ng-class="{'active': activeTab == 'preference'}">
                <p></p>
                <div class="row" ng-controller="SettingsCtrl">
                    <div class="col-lg-8 col-lg-offset-2">
                        settings
                    </div>
                </div>
            </div>

            <div class="bhoechie-tab-content" ng-class="{'active': activeTab == 'preference'}">
                <p></p>
                <div class="row" ng-controller="SettingsCtrl">
                    <div class="col-lg-8 col-lg-offset-2">
                        settings
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
